l
body {
        background-image: url("/my\ web\ project/BACK 4.png");
        background-size: cover;
        background-color: #464646;
        color: #fff;
        font-family: Arial, sans-serif;
    }

    .container {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        background-color: #161718;
        background-color: rgba(0, 0, 0, 0.571);
        border-radius: 5px;
        box-shadow: 0 2px 4px #000DFF;
        align-content: center;
    }

    .container img {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        transition: 0.5s linear;
        margin: 0 50% 0 35%;

    }

    h1 {
        color: #6600FF;
        color: #fff;
        opacity: 0.6;
        text-align: center;
    }

    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    label.required:after {
        content: "*";
        color: red;
    }

    label:hover {
        text-decoration: underline;
        text-decoration-color: blueviolet;
        transition: 0.3s ease-in;
    }

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 20px;
        margin-bottom: 20px;
        cursor: text;
        color: #ccc;
        background-color: inherit;
    }

    input.required:after {
        content: "*";
        color: red;
        background-color: 323332;
    }

    input:hover {
        border-width: AUTO;
        border-color: #fe0000;
    }

    button.Submit {
        background-color: #0009ff;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 20px;
    }

    button.Submit:hover {
        background-color: #f00;
        color: #f8ff00;
    }

    .or {
        text-align: center;
    }

    .google {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 25px;

    }

    .google:hover {
        background-color: #FF0000;
        color: #F8FF00;
    }

    .apple {
        display: inline-block;
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 1);
        color: white;
        text-decoration: none;
        border-radius: 25px;
        border: 2px solid white;

    }

    .apple:hover {
        background-color: #FF0000;
        color: #F8FF00;
    }

    i {
        font-size: 1.3rem;
    }
